*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    margin: auto;
    position: relative;
}

.slider{
    width: 100%;
	height: 100%;
}

.slider-img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	display: none;
}

.vertical-slider{
    width: 100%;
    height: calc(100% / 5);
    margin: auto;
    position: relative;
}

.vertical-slider .slider-img {
	position: absolute;
	inset: 0;
	/* display: none; */
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.controls {
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	inset: 0;
	z-index: 10;
}

.btn-up,
.btn-down {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .5rem;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;
	background-color: rgb(202, 202, 202, .5);
}

.btn-up:hover,
.btn-down:hover {
	background-color: rgb(202, 202, 202, 1);
    transform: scale(1.1);
    cursor: pointer;
}

.active {
	display: block;
}

.hidden {
	visibility: hidden;
}